body {
    background: url(background.jpg);
    margin: 50px auto 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

.game {
    width: 50%;
    margin: 250px auto;
    display: flex;
    justify-content: space-evenly;
}

.score {
    color:peachpuff;
    font-size: 2rem;
    padding-bottom: 50px;
}